<% content_for :javascript do %>
  <%= javascript_include_tag 'lists' %>
<% end %>

<div class="text-center mb-4">
  <h1>All Lists</h1>
</div>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <!-- Placeholder image or dynamic image based on list -->
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <%= link_to "View List", list_path(list), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


  <%= link_to 'Create a New List', new_list_path, class: 'btn btn-primary' %>
</div>
