<h1>Top Rated Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <h2><%= movie["title"] %></h2>
      <p><%= movie["overview"] %></p>
      <!-- Afficher d'autres informations comme poster_path, etc. -->
    </li>
  <% end %>
</ul>
